@charset "UTF-8";


* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0.5px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {

  background: linear-gradient(135deg,
      #c05050,
      #d6d677,
      #7fcf7a,
      #7bd1d1,
      #7c9bd9,
      #c27aa7);

  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;

}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  background-color: white;
  width: 250px;
  height: 515px;
  border-radius: 20px;
  transition: width 0.3, height 0.3;
}

section#login>div#imagem {
  display: block;
  background: #5f2c82 url(./imagens/pexels-mccutcheon-1566909.jpg) no-repeat;
  background-size: cover;
  height: 200px;
}

div#formulario>h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario>p {
  font-size: 0.8em;
}

form>div.campo {
  background: linear-gradient(135deg,
      #c050504b,
      #80cf7a46,
      #7c9bd92f,
      #c27aa628);

  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
  padding-top: 5px;
  margin-top: 5px;
  text-align: center;
}

input[type=email] {

  width: 200px;
  height: 25px;
  border: solid black 1px;

}

input[type=password] {

  width: 200px;
  height: 25px;
  border: solid black 1px;

}

input[type=submit] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: #be7a7a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit] {
  background-color: #c05050;
}

.botao-secundario {
  display: block;
  text-align: center;
  font-size: 1em;
  padding-top: 5px;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  background-color: #c06f6f;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.botao-secundario:hover {
  background-color: #c05050;
}